<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiusm.eju.crawler.mapper.government.wh.FdWuhanBuildingMapper">
    <resultMap id="BaseResultMap" type="com.qiusm.eju.crawler.entity.government.wh.FdWuhanBuilding">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="house_id" jdbcType="BIGINT" property="houseId"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="building_id" jdbcType="VARCHAR" property="buildingId"/>
        <result column="building_name" jdbcType="VARCHAR" property="buildingName"/>
        <result column="building_total_layer_num" jdbcType="VARCHAR" property="buildingTotalLayerNum"/>
        <result column="building_house_num" jdbcType="VARCHAR" property="buildingHouseNum"/>
        <result column="building_area" jdbcType="VARCHAR" property="buildingArea"/>
        <result column="surveying_mapping_agencies" jdbcType="VARCHAR" property="surveyingMappingAgencies"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="selectByPendLoadHouseInfo" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from (
                 select building.*,
                        building.building_house_num &lt;= unit.unit_num state
                 from fd_wuhan_building building
                          left join (select count(1) unit_num, building_id
                                     from fd_wuhan_unit
                                     group by building_id) unit
                                    on unit.building_id = building.id
             ) a
        where (state = 0 or state is null) and id &gt; #{maxId,jdbcType=BIGINT}
        order by house_id limit 1000
    </select>
    <select id="selectByPendLoadHouseDetail" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from fd_wuhan_building building
        where id in (select fd_wuhan_unit.building_id
                     from fd_wuhan_unit
                     where details_url is not null
                       and house_address is null
                       and status != '99')
          and id &gt; #{maxId,jdbcType=BIGINT}
        order by id
            limit 1000
    </select>
</mapper>